body {
	background: Bisque;
}

h1 {
	text-align: center;
}

img {
	width:450px;
}

a {
	text-decoration: none;
}

.cardContainer {
	width: 85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.card {
   padding: 15px;
   margin: 20px;	
   background-color: lightblue;
   box-sizing: border-box;
   box-shadow: 5px 5px 5px grey;
   border: 2px solid lightblue;
}

.card:hover {
   border: 2px solid blue; 
}